<?xml version="1.0" encoding="utf-8"?>
<settings>
  <window_width i="200"/>
  <window_height i="200"/>
  <camera_translation_factor f="5"/>
  <camera_rotation_angle f="2"/>
  <max_reflections i="20"/>
  <supersampling_enable b="true"/>
  <supersampling_threshold_start f="0.2"/>
  <supersampling_threshold_end f="0.01"/>
  <supersampling_max_rays i="40"/>
  <supersampling_show b="false"/>
  <supersampling_show_limit f="16"/>
</settings>
