# Project executables
pray_server
pray_client

# Logs
*.log

# Images
*.bmp
*.jpg
*.png

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Precompiled headers
*.h.gch

# Code Blocks files
*.cbp
*.workspace
*.layout

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
